<ion-app>
  <ion-menu content-id="main-content" [disabled]="isLoginPage">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerLink]="p.url" routerLinkActive="selected">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngIf="canInstall()">
          <ion-item (click)="installApp()" style="cursor: pointer;">
            <ion-icon slot="start" name="cloud-download-outline"></ion-icon>
            <ion-label>
              Instalar App
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="logout()" style="cursor: pointer;">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>
              Cerrar Sesión
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>