<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestión de Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Acciones - Importación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" fill="solid" (click)="importArticles()" [disabled]="isLoading()">
        @if (isLoading()) {
        <ion-spinner name="crescent" slot="start"></ion-spinner>
        } @else {
        <ion-icon name="add-sharp"></ion-icon>
        }
        {{ isLoading() ? loadingMessage() : ' Importar Artículos' }}
      </ion-button>

      <ion-button expand="block" fill="solid" color="secondary" (click)="importClients()" [disabled]="isLoading()">
        @if (isLoading()) {
        <ion-spinner name="crescent" slot="start"></ion-spinner>
        } @else {
        <ion-icon name="people-sharp"></ion-icon>
        }
        {{ isLoading() ? 'Importando...' : ' Importar Clientes' }}
      </ion-button>

      @if (isLoading()) {
      <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>
      <p class="loading-text">
        <ion-icon name="information-circle-sharp"></ion-icon>
        Esta operación puede tomar varios minutos dependiendo de la cantidad de artículos
      </p>
      }
    </ion-card-content>
  </ion-card>
</ion-content>